<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" type="image/svg" href="favicon.svg"/>
    <title>Zonato - Book blog posts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
  
    <!-- <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div> -->
      <div class="darkpanel"></div>
      {{>navbar}}
    <div class="head">
        <div class="autowrite">
            <h1 class="typing">We offer you <span class="type1"></span> that <span class="type2"></span></h1>
            <p class="discription">Always a best choice for Search Engine Optimised Articles or Posts on your website. Increase your traffic and your customers interest in you by choosing us.</p>
        </div>
        <div class="call" >
            <a href="orderpage.html" class="orderbtn">Order Now</a>
        </div>
        <div class="godown">
            <i class="fas fa-angle-down"></i>
        </div>
    </div>
    <div class="second">
        <div class="mainhead" style=" margin-bottom: 2rem;">
            <h1 style="text-align: center;">What you will get?</h1>
        </div>
        <div class="whyus" >          
            <div class="parts">
                <div class="box b1">
                    <i class="fas fa-columns">

                    </i>
                    <h1>
                        Dashboard
                    </h1>
                    <p>
                        We provide our customer an in teractive dashboard through which he can communicate easily with our team. Customer can easily take their orders update and can tell our team to perform any change in order.This makes your experiance way more better.
                    </p>
                </div>

                <div class="box b2">
                    <i class="fas fa-search-dollar">
                        
                    </i>
                    <h1>
                        SEO Friendly
                    </h1>
                    <p>
                        The articles and blog post that our team provide you on your order are SEO friendly that help you alot in getting good ranking on search engine. Besides being SEO friendly we provide you content which is comprehensive and professional for your traffic too.
                    </p>
                </div>

                <div class="box b3">
                    <i class="fas fa-users">
                        
                    </i>
                    <h1>
                        Professional Team
                    </h1>
                    <p>
                        We have a professional team that are provide the resposibility of completing your order. This professional team has great abilities and experiances which will benefit you alot. <span style="color: #1dbf73;">Your data and articles are not used anywhere nor provided to anyone other than you.</span>
                    </p>
                </div>

                <div class="box b4">
                    <i class="fas fa-window-close">
                        
                    </i>
                    <h1>
                        Order Cancellation
                    </h1>
                    <p>
                        During your journey with us you have an option of cancelling your order at any point too. If at any point your mind changes and you want to cancel the order, your cash would be returned and your order would be cancelled.
                    </p>
                </div>

                <div class="box b5">
                    <i class="fas fa-hands-helping">
                        
                    </i>
                    <h1>
                        Live Customer help
                    </h1>
                    <p>
                        Along with all these services we provide 24/7 live customer help too. Through which you can contact us and ask us about any confusion that you have. We would be pleased to help you with as less response time as possible.
                    </p>
                </div>

                <div class="box b6">
                    <i class="fas fa-funnel-dollar">
                        
                    </i>
                    <h1>
                        Wide range of Options
                    </h1>
                    <p>
                        On our platform, you have wide range of options to select package based on your budget. It provides you with large variety of options based on quantity, but we do not make any exception about quality.
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="third">
        <div class="mainhead" style="margin-top: 0rem;">
            <h1>How do it work?</h1>
        </div>

        <div class="bodythird">

            <div class="lower">
                <div class="sec s1">
                    <div class="pic">
                        <img src="words.jpg" >
                    </div>
                    <div class="info">
                        <h1>
                            Select number of words.
                        </h1>
                        <p>
                            As our prices are based mainly on the number of words the article should contain, so in order to place an order you first have to select the length of your order. If you want a blog post than it would be better for your SEO if you chose <span style="color: #1dbf73">1000</span> words or more otherwise its your choice. Maximum no of words we offer are upto <span style="color: #1dbf73">1000</span> words of professional and comprehensive quality.
                        </p>
                        <div class="outerbtn">
                            <a href="orderpage.html" class="secbtn">Order now</a>
                        </div>
                    </div>
                </div>
                

                <div class="sec s2">
                    <div class="info">
                        <h1>
                            Type your topic.
                        </h1>
                        <p>
                            In this step you just have to write the topic you want your article to be based on. We would suggest you an <span style="color: #1dbf73">Seo Friendly tittle</span> for your blog <span style="color: #1dbf73">as a GIFT</span> too. The topic you provide must be comprehensive so that our team may get a better idea about your requirement.
                        </p>
                        <div class="outerbtn">
                            <a href="orderpage.html" class="secbtn">Order now</a>
                        </div>
                    </div>
                    <div class="pic">
                        <img src="topic.png" >
                    </div>
                </div>

                <div class="sec s3">
                    <div class="pic">
                        <img src="description.jpg" >
                    </div>
                    <div class="info">
                        <h1>
                            Provide description.
                        </h1>
                        <p>
                            Description part is not compulsory. If you want any special features in your order or want to <span style="color: #1dbf73">emphasize something that your think is important</span> your may text it in provided field.
                        </p>
                        <div class="outerbtn">
                            <a href="orderpage.html" class="secbtn">Order now</a>
                        </div>
                    </div>
                </div>

                <div class="sec s4">
                    <div class="info">
                        <h1>
                            Add to cart and checkout.
                        </h1>
                        <p>
                            After selecting all the article's specifications you can add it to cart. Add as many pieces of different specifications as you want. <span style="color: #1dbf73">
                                After you have collected orders of your choice you may chechout throughcart.
                            </span> 
                        </p>
                        <div class="outerbtn">
                            <a href="orderpage.html" class="secbtn">Order now</a>
                        </div>
                    </div>
                    <div class="pic">
                        <img src="pay.jpg" >
                    </div>
                </div>
                <div class="sec s5">
                    <div class="pic">
                        <img src="order.jpg" >
                    </div>
                    <div class="info">
                        <h1>
                            Take your order
                        </h1>
                        <p>
                            Once order is place your would we redirected to dashboard registered on your email. From your dashboard you would be able to keep track of your orders and may chat with us if want any special changes in your order. You would <span style="color: #1dbf73">get your order on your dashboard to download
                            </span> as well as it would be <span style="color: #1dbf73">
                                sent to your email</span>. 
                        </p>
                        <div class="outerbtn">
                            <a href="orderpage.html" class="secbtn">Order now</a>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>

   <div class="fifthouter">
    <div class="fifth">
        <div class="bar bar1">
            <h1>Finding Best KeyWords</h1>
        </div>
        <div class="slider slider1">
            <h1>Finding Best KeyWords.</h1>
            <p>Providing you best Articles is our duty.If you know, Keywords play an important role in SEO. They are essential if you want organic traffic from Search Engine and stand out in competetion. In order to find quality keywords depending upon your provided topic and your requirements, we use popular websites and tools to achieve our aim. These websites and tools are widely used by professional blogers and websites for creating their worthy content we do so too. We can't tell you much about these tools as this is against our business policy, but they are not much diverse than the one known as Google keywords Planner, Ubbersuggest etc. By using <a href="">our Articles</a> in your blogs we guarantee you more organic traffic and more traffic engagement.
                <!-- write rest -->
            </p>
            <div class="under under1">
                <div class="source"></div>
            </div>
        </div>
        <div class="bar bar2">
            <h1>Writing Your Article</h1>
        </div>
        <div class="slider slider2">
            <h1>Writing Your Article</h1>
            <p>This part of writing article is given to professional team members. Every thing encluding grammar, keywords placement, article structure, engaging reader are all on their finder tips. These skills would help you alot in getting your traffic addicted of your blog. Once your article is completed your order is analysed before delivering your it to you so that you may not need to avail any revision. This rechecking process consists mainly of two parts. One step contains our rechecking team to show their skills. The second part contains processing these articles through softwares that are most trusted throughout this field of content writing such as grammarly etc. Most of our customers who order once, come to us recurringly and write a good <a href="">reviews</a> for us as you can check.</p>
            <div class="under under2">
                <div class="source"></div>
            </div>
        </div>

        <div class="bar bar3">
            <h1>Keeping You Updated</h1>
        </div>
        <div class="slider slider3">
            <h1>Keeping You Updated</h1>
            <p>This is one best features that you would like alot. For keeping you update we update your order's status every four to five hour so that you may keep track of your processes relative to your order. While your order is under process, you can also text us if change of mind takes place.In that case our team do its best to reach your expectations and acquire your content. We provide your feature of live customer help that would suggest you useful changes too. You can access these features of updates and live help through your dashboard as guided in intro to your space. Other than keeping your updated about your order we provide you <a href="">regarding market</a> and trends related writing and blogs.These news are proved realy helpful for many users.</p>
            <div class="under under3">
                <div class="space"></div>
                <div class="source"></div>
            </div>
        </div>
        <div class="slider slider4">
            <h1>Delivering Your Order</h1>
            <p>
                We deliver your order in two ways, copy of it is sent to <a href="">your Email </a> that you provide during placement of your order, the second copy is uploaded to your <a href="">dashboard </a> from where you can whether download it or you can embed it into your site using <a href="">our API </a>too that you would get on your dashboard placing your order. you just have to copy that code into your website or your wordpress site in html. You can get more information about it in your dashboard. After you confirm that you have got your order and you are satisfied with it, we delete all the copies of your order so that you may not face the problem that someone is using your content. We guarantee you that your articles will be your property completely no one other than you would have the previllage to use it. For more information read our <a href="">Privacy Police</a>.
            </p>
            <div class="under under4">
                <div class="space"></div>
                <div class="source">
                </div>
            </div>
        </div>

        <div class="bar bar4">
            <h1>Delivering Your Order</h1>
        </div>


    </div>
</div>
    <div class="mainhead" style="margin-top: 2rem;">
        <h1>Pricing</h1>
    </div>
    <div class="seventh">
        <div class="seventhbody">
            <div class="pricebar">
                <h1>Basic</h1>
                <ul>
                    <li><i class="fas fa-check"></i><span>500 </span>Words</li>
                    <li><i class="fas fa-check"></i>SEO Friendly Article</li>
                    <li><i class="fas fa-check"></i>Links in article</li>
                    <li><i class="fas fa-times"></i>Allocation of Images</li>
                    <li><i class="fas fa-times"></i>Access to API</li>
                </ul>
                <div class="price">$50</div>
                <button>Order (500 Words)</button>
            </div>
            <div class="pricebar">
                <h1>Medium</h1>
                <ul>
                    <li><i class="fas fa-check"></i><span>1000 </span>Words</li>
                    <li><i class="fas fa-check"></i>SEO Friendly Article</li>
                    <li><i class="fas fa-check"></i>Links in article</li>
                    <li><i class="fas fa-check"></i>Allocation of Images</li>
                    <li><i class="fas fa-check"></i>Access to API</li>
                </ul>
                <div class="price">$110</div>
                <button>Order (1000 Words)</button>
            </div>
            <div class="pricebar">
                <h1>Lengthy</h1>
                <ul>
                    <li><i class="fas fa-check"></i><span>1500 </span>Words</li>
                    <li><i class="fas fa-check"></i>Links in article</li>
                    <li><i class="fas fa-check"></i>SEO Friendly Article</li>
                    <li><i class="fas fa-check"></i>Allocation of Images</li>
                    <li><i class="fas fa-check"></i>Access to API</li>
                </ul>
                <div class="price">$180</div>
                <button>Order (1500 Words)</button>
            </div>
            <div class="pricebar">
                <h1>Super</h1>
                <ul>
                    <li><i class="fas fa-check"></i><span>2000 </span>Words</li>
                    <li><i class="fas fa-check"></i>Links in article</li>
                    <li><i class="fas fa-check"></i>SEO Friendly Article</li>
                    <li><i class="fas fa-check"></i>Allocation of Images</li>
                    <li><i class="fas fa-check"></i>Access to API</li>
                </ul>
                <div class="price">$230</div>
                <button>Order (2000 Words)</button>
            </div>
            <div class="pricebar custom">
                <h1>Custom</h1>
                <ul>
                    <li><i class="fas fa-check"></i>No of Words of your choice</li>
                    <li><i class="fas fa-check"></i>Every Feature</li>
                    <li><i class="fas fa-check"></i>Special concession</li>
                    <li><i class="fas fa-check"></i>Access to API</li>
                </ul>
                <button>Custom Order</button>
            </div>
        </div>
    </div>
    <div class="mainhead" style="margin: 2rem 0;">
        <h1>Our Team</h1>
    </div>
    <div class="sixth">
         <div class="sixthinner">
             <button class="memberbtn prevmember">
                 <i class="fas fa-arrow-circle-left"></i>
             </button>
             <button class="memberbtn nextmember">
                 <i class="fas fa-arrow-circle-right"></i>
             </button>
             <div class="teammember">
                 <img src="bexaprilmay.jpg" alt="Bexa Prilmay">
                 <div class="info">
                     <div class="name">
                         <h1>Bexa Prilmay</h1>
                     </div>
                     <div class="text">
                         <p>Welcome! I'm Bexa Prilmay.I’m a fast and reliable journalist with 10 years of
                             experience writing and editing for some of the most respected publications in the world, including The
                             Guardian, MTV, Cosmo, Yahoo, IGN, NME and more.
                            <a href=""> Read more...</a>
                              
                         </p>
                     </div>
                 </div>
             </div>
             <div class="teammember karen">
                 <img src="karenmarastani.jfif" alt="Karen Marastani">
                 <div class="info">
                     <div class="name">
                         <h1>Karen Marastani</h1>
                     </div>
                     <div class="text">
                         <p class="karen">With 7+ years of marketing and writing experience,
                             I am ecstatic to be able to help businesses around
                             the world reach their maximum potential with the
                             best possible marketing & writing strategies
                             regarding any topic to help boost following and
                             customer interaction.<a href=""> Read more...</a>
                         </p>
                     </div>
                 </div>
             </div>
             <div class="teammember atik">
                 <img src="atik.jpg" alt="Atik Begin">
                 <div class="info">
                     <div class="name">
                         <h1>Atik begin</h1>
                     </div>
                     <div class="text">
                         <p class="atik">Hi, my name is Atik Begin. I am content writer with years of experience that will be used to provide you excellent and profitable Article or Blog content. I help business owner increase their article readers xand website traffic. I read articles on multiple forums to stay up-to-date.
                            <a href=""> Read more...</a>
                              
                         </p>
                     </div>
                 </div>
             </div> <div class="teammember ryan">
                 <img src="ryanbarklay.jpg" alt="Ryan Barklay">
                 <div class="info">
                     <div class="name">
                         <h1>Ryan Barklay</h1>
                     </div>
                     <div class="text">
                         <p class="ryan">Welcome, I am an experienced and enthusiastic writer
                             wanting to sell my expertise to the public. I can write highly in-depth and engaging blog content that viewers love, assemble meaningful SEO research on
                             any chosen topic and guarantee to amplify your organic traffic.
                            <a href=""> Read more...</a>
                              
                         </p>
                     </div>
                 </div>
             </div> <div class="teammember mario">
                 <img src="mariocarr.jpg" alt="Mario Carr">
                 <div class="info">
                     <div class="name">
                         <h1>Mario Carr</h1>
                     </div>
                     <div class="text">
                         <p class="mario">Hi my name is Mario Carr and I was a
                             journalist and skilled in public relations,
                              communications, digital marketing, social
                              media and event promotions. I'm also a
                              freelance writer living in Burlington, Ontario,
                              Canada.
                            <a href=""> Read more...</a>
                              
                         </p>
                     </div>
                 </div>
             </div>
             <div class="teammember bexa">
                 <img src="bexaprilmay.jpg" alt="Bexa Prilmay">
                 <div class="info">
                     <div class="name">
                         <h1>Bexa Prilmay</h1>
                     </div>
                     <div class="text">
                         <p class="bexa">Welcome! I'm Bexa Prilmay.I’m a fast and reliable journalist with 10 years of
                             experience writing and editing for some of the most respected publications in the world, including The
                             Guardian, MTV, Cosmo, Yahoo, IGN, NME and more.
                            <a href=""> Read more...</a>
                              
                         </p>
                     </div>
                 </div>
             </div>
             <div class="teammember maxwell">
                 <img src="maxwell.jpg" alt="Maxwell Joe">
                 <div class="info">
                     <div class="name">
                         <h1>Maxwell Joe</h1>
                     </div>
                     <div class="text">
                         <p class="maxwell">I am a passionate mechanical engineer, book author
                             and the founder of Maximilian Wittmann Digitale 
                            Technologien. I am enthusiastic about latest digital
                             technologies and technical solutions to complex problems.
                            <a href=""> Read more...</a>
                         </p>
                     </div>
                 </div>
             </div>
             <div class="teammember">
                 <img src="karenmarastani.jfif" alt="Karen Marastani">
                 <div class="info">
                     <div class="name">
                         <h1>Karen Marastani</h1>
                     </div>
                     <div class="text">
                         <p>With 7+ years of marketing and writing experience,
                             I am ecstatic to be able to help businesses around
                             the world reach their maximum potential with the
                             best possible marketing & writing strategies
                             regarding any topic to help boost following and
                             customer interaction.<a href=""> Read more...</a>
                         </p>
                     </div>
                 </div>
             </div>
         </div>
     </div>

     <div class="mainhead" style="font-size:2rem; margin-top: 2rem">
        <h1>FAQ(Frequently Asked Questions)</h1>
    </div>
    <div class="eighth">
        <div class="question answer1">
            <h1>Do we use or sell our customers data(e.g articles) to anyone?</h1>
            <i class="fas fa-plus"></i>
        </div>
        <div class="answer answer1"><p>No, we never do that. Our customer's privacy and rights are our first priority. All of your articles are plagiarism free and your articles are deleted from our servers after its deliver and just saved so that they could be served if you reqest for them through Api. For more information please read our <a style="color:#674CC4; cursor:pointer; text-decoration: underline;">Privacy Policy</a></p></div>
        <div class="question answer2">
            <h1>Do we provide money back guarantee?</h1>
            <i class="fas fa-plus"></i>
        </div>
        <div class="answer answer2"><p>Yes, if you place an order but eventually your mind changes and you want to cancel your order than you can cancel your order within 2 hours after placement of your order through your dashboard. You would be cashed back <span style="color: #674CC4;">100%</span>. Else if you cancel your order later than 2 hours, you would be cashed back just <span style="color: #674CC4;">70%</span> of your money. Cash would be sent to the account that you would provide while cancellation.</p></div>
        <div class="question answer3">
            <h1>How many maximum number of words do we provide?</h1>
            <i class="fas fa-plus"></i>
        </div>
        <div class="answer answer3"><p>"(Unlimited)"  We have four packages through which you can order upto 2000 words. But if you want to order even lengthy article, you can place custom order and provide your order's description. For more information check <a style="color:#674CC4; cursor:pointer; text-decoration:underline;">Guide</a></p></div>
        <div class="question answer4">
            <h1>Which payment methods do we support?</h1>
            <i class="fas fa-plus"></i>
        </div>
        <div class="answer answer4"><p>You can pay through Paypal Account as well as through Master Cards</p></div>
        <div class="question answer5">
            <h1>In which file formate do we deliver Articles in?</h1>
            <i class="fas fa-plus"></i>
        </div>
        <div class="answer answer5"><p>We provide you link to download your order in <span style="color: #674CC4;">pdf </span>,<span style="color: #674CC4;"> docx</span> and <span style="color: #674CC4;">Plain Text</span>. Where as by default we send you docx format of Article to your <span style="color: #674CC4;">Email</span> you can ask for other format through your dashboard too. We will send you file as many times you would ask us to.</p></div>
    </div>
    <div class="footer">
        <div class="footerup">
            <h1>Try Zonato</h1>
            <a href="orderpage.html">Order Now  <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="footermain">
            <div class="brand">
                <img src="./favicon.svg">
                <div class="brandname">Zonato</div>
            </div>
            <div class="linksfooter"></div>
        </div>
    </div>
    
    
    
    
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="typed.js"></script>
<script src="autotyping.js"></script>
<script>
    var body = document.querySelector("body")
    $(document).ready(function() {

});
</script>    
<script type="text/javascript">

window.scrollTo(0,0)
 var second = document.querySelector(".second")
 var third = document.querySelector(".third")
 var b1 = document.querySelector(".b1")
 var b2 = document.querySelector(".b2")
 var b3 = document.querySelector(".b3")
 var b4 = document.querySelector(".b4")
 var b5 = document.querySelector(".b5")
 var b6 = document.querySelector(".b6")
 var lis = document.querySelectorAll(".li")
var navbar = document.querySelector(".navbar")
var logo = document.querySelector(".logo")

var secs = third.querySelectorAll(".sec")
var fifth = document.querySelector(".fifth")
var slider1 = fifth.querySelector(".slider1")
var bars = fifth.querySelectorAll(".bar")
var bar1 = fifth.querySelector(".bar1")
var bar2 = fifth.querySelector(".bar2")
var bar3 = fifth.querySelector(".bar3")
var bar4 = fifth.querySelector(".bar4")
var sliders = fifth.querySelectorAll(".slider")
var slider2 = fifth.querySelector(".slider2")
var slider3 = fifth.querySelector(".slider3")
var slider4 = fifth.querySelector(".slider4")
var teammembers = document.querySelectorAll(".teammember")
var darkpanel = document.querySelector(".darkpanel")
var readmember = document.querySelectorAll(".info .text a")
var prevmember = document.querySelector(".prevmember")
var nextmember = document.querySelector(".nextmember")
var faqplus = document.querySelectorAll(".eighth .question i")
var answers = document.querySelectorAll(".eighth .answer")
var reveal = 100
var transformed = 80.5
var present = 1
var toggle = 0;
faqplus.forEach((faq)=>{
    faq.addEventListener("click", (e)=>{
        clickedfaq = e.target;
        var questionclass = clickedfaq.parentElement.classList;
        answers.forEach((answer)=>{
            if(answer.classList.contains(questionclass[1])){
                 if(answer.style.display == "block"){
                     answer.style.display = "none"
                     faq.classList = "fas fa-plus";
                    }else{
                        answers.forEach((answer)=>{
                            answer.style.display = "none";
                            faqplus.forEach((faq)=>{
                                faq.classList = "fas fa-plus"
                            })
                        })
                        answer.style.display = "block";
                        faq.classList = "fas fa-minus";

                    }
                
            }
            })
        })
    })
nextmember.addEventListener("click", (e)=>{
    if(present <= (teammembers.length -3)){

    var todo = transformed + 87;
    teammembers.forEach((teammember)=>{
        teammember.style.transform = "translateX(-"+todo+"rem)"
     })
    transformed = todo
    present += 1
}else{
     var todo = 80.5
    teammembers.forEach((teammember)=>{
        teammember.style.transform = "translateX(-"+todo+"rem)"

     })
    transformed = todo
    present = 1
}
})
prevmember.addEventListener("click", (e)=>{
    var todo = transformed - 87;
    if(todo>=80.5){
    teammembers.forEach((teammember)=>{
        teammember.style.transform = "translateX(-"+todo+"rem)"
     })
    transformed = todo
    present -=1 
    }else{
        var todo = ((teammembers.length - 3)*87) + 80.5
        teammembers.forEach((teammember)=>{
        teammember.style.transform = "translateX(-"+todo+"rem)"
     })
    transformed = todo
    present = (teammembers.length-2) 
    }
})
darkpanel.addEventListener("click",(e)=>{
    if(darkpanel.contains(clonemember)){
        clonemember.remove()
    }
    darkpanel.style.display = "none"
})

readmember.forEach((member)=>{
    member.addEventListener("click", (e)=>{
        e.preventDefault()
        classmem = e.target.parentElement.classList
        teammembers.forEach((teammember)=>{
            if(teammember.classList.contains(classmem)){
                clonemember = teammember.cloneNode(true)
                darkpanel.style.display = "flex"
                clonemember.style.transform = "translateX(0rem)"
                clonemember.style.height = "auto"
                clonemember.style.padding = "9rem"
                p = clonemember.querySelector("p")
                p.style.fontSize = "2.5rem"
                if(clonemember.classList.contains("karen")){
                    p.innerText = `With 7+ years of marketing and writing experience,
                    I am ecstatic to be able to help businesses around
                    the world reach their maximum potential with the
                    best possible marketing & writing strategies
                    regarding any topic to help boost following and
                    customer interaction. Stick with me as I transform 
                    your readers into another world with informative, 
                    spiritual, or humorous words that will educate them,
                    open their eyes, or make them laugh their butts off.
                    With my creative eye, I'm also able to provide
                    you with beautiful infographics that will go hand
                    in hand with your outstanding content.`
                }
                if(clonemember.classList.contains("atik")){
                    p.innerText = `Hi, my name is Atikur Rahman. I am a passionate
                    content writer with years of experience that
                    I will use to provide you with excellent and
                    profitable Article or Blog content. I have
                    worked for a number of clients and guarantee
                    satisfactory and on time services. I help business
                    owner increase their article readers and
                    website traffic. I read articles on multiple
                    forums to stay up-to-date. My creative ideas will
                    engage your audience, rank your blog & boost
                    your business. I always try to deliver my best
                    work. Hire me for Outstanding services.
`
                }
                if(clonemember.classList.contains("ryan")){
                        p.innerText = `Welcome, I am an experienced and enthusiastic writer
                        wanting to sell my expertise to the public. I can
                        write highly in-depth and engaging blog content that
                        viewers love, assemble meaningful SEO research on
                        any chosen topic and guarantee to amplify your organic
                        traffic. If you have any questions, feel free to
                        contact us at any time.`
                }
                if(clonemember.classList.contains("mario")){
                    p.innerText = `Hi my name is Mario Carr and I was a
                    journalist and skilled in public relations,
                    communications, digital marketing, social
                    media and event promotions. I'm also a
                    freelance writer living in Burlington, Ontario,
                    Canada.`
                }
                if(clonemember.classList.contains("bexa")){
                    p.innerText = `I’m a fast and reliable journalist with 10 years of
                    experience writing and editing for some of the most 
                    respected publications in the world, including The
                    Guardian, MTV, Cosmo, Yahoo, IGN, NME and more.
                    I’m a digital-first content expert, with a deep
                    understanding of SEO, article writing, copywriting,
                    script writing, product descriptions, copy editing,
                    press release writing and all things editorial.`
                }
                if(clonemember.classList.contains("maxwell")){
                    p.innerText = `I am a passionate mechanical engineer, book author
                    and the founder of Maximilian Wittmann Digitale 
                    Technologien. I am enthusiastic about latest digital
                    technologies and technical solutions to complex problems.
                    My goal is to share my knowledge and expertise in
                    Industry 4.0, Digital Twins, Programming, personalised
                    medicine and Artificial Intelligence.`
                }
                darkpanel.appendChild(clonemember)
            }
        })
    })
})

bar1.classList.add("marginrighthalf", "activebar")
bar2.classList.add("marginlefthalf","marginrighthalf")
bar3.classList.add("marginlefthalf", "marginrighthalf")
bar4.classList.add("marginlefthalf")
slidevent(bar1,1);
slidevent(bar2,2);
slidevent(bar3,3);
slidevent(bar4,4)
function slidevent(btn, slidenum){
btn.addEventListener("click", (e)=>{
     
    bars.forEach(function(bar){
        if(bar == btn){
            bar.classList.add("activebar")
        }
        else{
            bar.classList.remove("activebar")
        }
    })
     for(let i=0; i<sliders.length; i++){
         slideselect = "slider"+slidenum;
         if(sliders[i].classList.contains(slideselect)){
             sliders[i].style.display = "flex";
         }
         else{
             sliders[i].style.display = "none";
         }
     }
})
}

 document.addEventListener('scroll', go)
 function go(){
var windowheight = window.innerHeight
var boundingclienttop = second.getBoundingClientRect().top
var secondbottom = second.getBoundingClientRect().bottom
var thirdtop = third.getBoundingClientRect().top




// function animate(on, reveal, element, toadd ){
//     if(on < windowheight - reveal ){
//     element.classList.add(toadd)
// }
// else{
//     element.classList.remove(toadd)
// }
// }




if(secondbottom < windowheight + 100){
    navbar.classList.add("changenav")
    logo.classList.add("changelogo")
    for( let i = 0; i<lis.length ; i++){
        lis[i].classList.add("turngreen")
    }
}
else{
    navbar.classList.remove("changenav")
    logo.classList.remove("changelogo")
    for( let i = 0; i<lis.length ; i++){
        lis[i].classList.remove("turngreen")
    }
}

 }

</script>
</body>
</html>