<div class="navbar" >
          <div class="logo" draggable="true">Zonato</div>
          <ul>
              <li><a href="" class="li">Examples</a></li>
              <li><a href="" class="li">Privacy Policy</a></li>
              <li><a href="" class="li">Terms and Conditions</a></li>
              <li><a href="" class="li">Sign In</a></li>
  
              
          </ul>
      </div>